[submodule "external/embree"]
	path = external/embree
	url = https://github.com/embree/embree.git
[submodule "external/dwSampleFramework"]
	path = external/dwSampleFramework
	url = https://github.com/diharaw/dwSampleFramework.git
